<p-table [value]="users" dataKey="id" editMode="row" [paginator]="true" [rows]="5" [showCurrentPageReport]="true"
    [tableStyle]="{ 'min-width': '50rem' }"
    currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries" [rowsPerPageOptions]="[5, 10, 20]">
    <ng-template pTemplate="header">
        <tr class="ml-lg-4">
            <th class="d-md-none d-block"><button (click)="onRowEditSave()" status="primary" nbButton type="button">Add user</button></th>
            <th >First name</th>
            <th>Last name</th>
            <th>Identity number</th>
            <th>Email</th>
            <th>Gender</th>
            <th>Birthday</th>
            <th>Phone</th>
            <th class="d-none d-md-block"><button (click)="onRowEditSave()" status="primary" nbButton type="button">Add user</button></th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-user let-ri="rowIndex">
        <tr>
            <td class="d-md-none d-block">
                <ng-container *ngTemplateOutlet="actionButtons; context: { user: user, ri: ri }"></ng-container>
            </td>
            <td> {{user.firstName}} </td>
            <td> {{user.lastName}}</td>
            <td>{{user.identityNumber}}</td>
            <td> {{user.email}}</td>
            <td> <i *ngIf="!user.gender" class="pi pi-times-circle" style="color: crimson;"></i> {{user.gender || ''}}
            </td>
            <td> {{user.dateOfBirth | date: 'shortDate' }}</td>
            <td> {{user.phoneNumber}}</td>
            <td class="d-none d-md-block">
                <ng-container *ngTemplateOutlet="actionButtons; context: { user: user, ri: ri }"></ng-container>
            </td>
        </tr>
    </ng-template>
</p-table>

<ng-template #actionButtons let-user let-ri="rowIndex">
    <div class="flex align-items-center justify-content-center gap-2">
      <button pButton pRipple type="button" icon="pi pi-pencil" (click)="onRowEditSave(user)"
        class="p-button-rounded p-button-text"></button>
  
      <button pButton pRipple type="button" icon="pi pi-trash" (click)="onRowDelete(user.id, ri)"
        class="p-button-rounded p-button-text"></button>
    </div>
  </ng-template>