.edit-form {
    height: 100%;
    display: flex;
    flex-direction: column;
  
    .edit-for-actions {
      margin-top: auto;
    }
  }

  [nbInput].size-medium:not(.input-full-width),nb-select.size-medium:not(.full-width)  {
    max-width: 100%;
  }

  .p-inputtext-override{
    border: 1px solid transparent !important;
    background-color: #f7f9fc !important;
    border-color: #e4e9f2 !important;
     padding: 0.3rem !important;
  }

  .error{
    padding-top: .5rem;
    color: crimson;
    font-size: small;
  }